
* {
    margin: 0px;
}
h4{
    color: rgb(25, 109, 187);
}
#top {
    margin: 0px;
    /* height: 600px; */
    background-color: rgb(236, 236, 236);
}

#main {
    margin: 20px 20%;
    padding: 20px 20px;
    border: 1px solid grey;
    width: 60%;
    
    text-align: center;
    background-color: rgb(216, 216, 216);
}
#head {
    text-align: center;
    background-color: rgb(13, 100, 180);
    margin-top: 0px;
    padding: 10px;
}
#head h1 {
    margin: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footer {
    background-color: rgb(202, 202, 202);
    height: 30px;
    color: grey;
    text-align: center;
    padding: 10px;
}

#dummy {
    margin: 20px 20%;
    background-color: white;
    border: 1px solid gray;
    width: 62.2%;
    padding: 5px;
}
#dummy ul {
    padding: 0px;
}
#dummy li {
    display: inline-block;
    margin: 5px;
}
#dummy a {
    color: rgb(33, 117, 196);
    font-weight: bold;
    text-decoration: none;
}
#head a{
    color: white;
    text-decoration: none;
}
button {
    background-color: rgb(90, 93, 114);
    color: white;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 6px;
}
button:hover {
    background-color: rgb(44, 143, 236);
}
#dummy a:hover {
    text-decoration: underline;
}
#res a {
    text-decoration: none;
}
#res a:hover {
    text-decoration: underline;
}
